/* Header links (Resume, LinkedIn, etc.) */
.header-links a {
    font-size: 1.3rem;
    color: white;              /* make links white */
    text-decoration: underline; /* underline links */
    margin-right: 1.5rem;     /* space between links */
    font-weight: 500;
}

#project_title {
    font-size: 3.5rem;
    margin-bottom: 0.4rem;
    margin-right: 80px; /* moves name slightly left */
}

#project_tagline {
    margin-top: 1rem;
    font-size: 1.1rem;
    position: relative;
    left: 125px; /* moves description right */
}

#header_wrap .header-links {
    margin-top: 0.1rem;
    display: flex;
    justify-content: flex-end; /* align links to right */
    gap: 1.5rem;
    margin-right: 125px; /* moves links slightly left */
}

#header_wrap .header-links a:last-child {
    margin-right: 100px;
}

/* Header container */
.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* <-- key line */
  gap: 15px;
  position: relative;
  padding-right: 100px; /* space from right edge */
}

/* Header image */
.header-image {
  position: absolute;
  left: -60px;      /* move image left of text */
  top: 50%;
  transform: translateY(-35%);
        
  width: auto;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;

  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}

