/* Header links (Resume, LinkedIn, etc.) */
.header-links a {
    font-size: 1.2rem;
    color: white;              /* make links white */
    text-decoration: underline; /* underline links */
    margin-right: 1.5rem;     /* space between links */
    font-weight: 500;
}

#project_title {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

#header_wrap .header-links {
    margin-top: 0.25rem;
}

#header_wrap .header-links a {
    color: white !important;
    text-decoration: underline !important;
    margin-right: 1.5rem;
    font-size: 1.1rem;
}

#header_wrap .header-links a:last-child {
    margin-right: 0;
}

#project_tagline {
    margin-top: 0.6rem;
    font-size: 1.1rem;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* <-- key line */
  gap: 15px;
}

.title-container {
  position: relative;
}

.header-image {
  position: absolute;
  left: -75px;      /* move image left of text */
  top: 50%;
  transform: translateY(-30%);
  transform: translateX(20%)
        
  width: auto;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;

  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}

